@font-face {
    font-family: 'MinecraftiaRegular';
    src: url('https://fontlibrary.org/assets/fonts/minecraftia/71962a7e3d4a70435c030466a12f1d63/bf3f245b7cd53caea0cb07d265a64adc/MinecraftiaRegular.ttf');
}

body {
    font-family: 'MinecraftiaRegular';
    text-align: center;
    font-size: 15px;
    color: cadetblue;
    background-image: url(images/background.jpg);
    background-size: cover;
    position: relative;
}

.container{
    position: relative;
    margin: auto;
    width: 35%;
    text-align: left;
    background: rgba(85, 85, 85, 0.5);
    border-radius: 25px;
    height: auto;
    padding: 5%;
}

p label{
    display: inline-block;
    width: 200px;
    text-align: right;
}

p p{
    padding-left:5em;
}

.hidestat2 {
    display: none;
}

.output {
    text-align: center;
    margin-top: 20px;
    height: 100px;
    width: 100%;
    border-radius: 6px;
    border-color: #37373770;
}

input {
    text-align: left;
    width: 273px;
    display: inline-block;
    color: rgb(170, 170, 170);
    background-color: black;
    border: solid 2px rgba(158, 158, 158, 1);
    padding: 5px 10px 5px 10px;
    margin: 6px;
    font-family: 'MinecraftiaRegular';
    font-size: 15px;
}


select {
    width: 297px;
    background-color: black;
    border: solid 2px rgba(158, 158, 158, 1);
    padding: 5px 10px 5px 10px;
    margin: 6px;
    font-family: 'MinecraftiaRegular';
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    color: white;
    appearance: menulist;
}


.invoer {
    width: 150px;
    border: 2px solid #80868b;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.autocomplete {
    position: relative;
    width: 90%;
    display: inline-block;
}

.autocomplete-list div {
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-list {
    position: absolute;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    cursor: pointer;
    z-index: 1;
    width: 90%;
}

.autocomplete-list div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.cursor {
    display: inline-block;
    vertical-align: top;
    height: 43px;
}

.hide{
    display: none;
}

#Item_Icon{
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

#ToolTip{
    vertical-align: top;
    border-image: linear-gradient(0deg,rgba(80, 0, 255, 0.3137254901960784) 100%, rgba(40, 0, 127, 0.3137254901960784) 0%) 1 / 5px 5px 5px 5px;
    padding: 0.75rem;
    height: auto;
    max-width: 500px;
    min-width: 200px;
    color: #d4d4d4;
    background-color: rgba(16.0 , 0.0 , 16.0 , 0.9411764705882353);
    display: inline-block;
    white-space: pre;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }
  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .switch {
    position: relative;
    display: inline-block;
    margin: 3px;
    width: 50px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.hidden{
    color: rgba(0, 0, 0, 0);
    display: inline-block;
}

.hiding{
    display: none;
}